body{
    margin: 0;
    padding: 0;
    background-image: url("../images/img2.jpg");
    background-size: cover;
}

.container h2{
  color:black !important;
}
  
h2 {
  font-size: 24px !important;
  display: inline-block !important;
}


#page-header{
  position: absolute;
  display: flex;
  width:100%;
  background-color: grey;
  justify-content: space-evenly;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: large;
  flex-wrap: nowrap;
}

#logo a{
  background-color: grey;
  display :block;
  padding:10px;
  color: white;
  position: relative;
}

#github{
  height: 50px;
  width: auto;
  background-color: grey;
  padding: 10px;
  display: block;
}

#menu ul{
  list-style: none;
  margin: 0;
}

#menu li>a{
    background-color: grey;
    color: white;
    padding: 13px;
    display : block;
    text-decoration: none;
}

  #menu li>a:hover{         
    color: rgb(0, 0, 0);
    background-color: rgb(156, 154, 154);
  }

  #menu>li{
    float:left;
    text-align : center;
    margin-left: 40px;
    margin-right: 40px;
  }
